<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/space_style.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">  
</head>
<body>
<h1> Makers Bnb</h1>
<h2> Manage your spaces </h2>
<% @space.each do |space| %>
  <div class="container">
    <p><%= space.name %></p>
    <p><%= space.description %></p>
    <p><b>Price per night:</b> £<%= space.price %></p>
    <% @booking.each do |booking| %>
      <% if space.id == booking.spaces_id %>
        <p>Unavailable between <%= booking.start_date %> and  <%= booking.end_date %></p>
      <% end %>
    <% end %>

    <form action="/space/<%= space.id %>/availability" method="get">
      <input type="hidden" name="spaces_id" value="<%= space.id %>" />
      <input type="submit" id="button" value="Add unavailable dates"/>
    </form>
  </div>
<% end %>
</body>
</html>


